/* 𝙼𝚊𝚒𝚗 𝙲𝚂𝚂 𝚂𝚝𝚢𝚕𝚎𝚜𝚑𝚎𝚎𝚝 */

/* ============= */
/* =========== GENERAL =========== */
/* ============= */

html {
    font-size: 14px !important;
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Apercu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.outermost_wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden !important;
}

.title {
    font-family: 'Kudry', serif;
    font-weight: normal;
}

a:hover {
    text-decoration: none !important;
}

a:focus, button:focus {
    outline: none !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: transparent;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.001) inset, 0 0 1px rgba(255, 255, 255, 0.1);
    outline: 0 none;
}

input:disabled, input[disabled] {
    opacity: 0.5 !important;
}





/* ============= */
/* =========== NAVIGATION =========== */
/* ============= */

.nav {
    transition: 0.4s all ease-in-out;
}

.bg-light {
    z-index: 10;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #F2EFE9 !important;
    height: 155px;
    box-shadow: 0 33px 119px rgba(0, 0, 0, 0.01);

    transition: 0.4s all ease-in-out;
}

img.nav_logo {
    position: relative;
    display: inline-block;
    height: 135px;
}

:root {
    --color-primary: #18181a;
    --color-secondary: #75757c;
    --color-dark: #2A3335;
    --color-light: #f5f5f5;
    --font-family-primary: 'Kudry', serif;
    --font-family-secondary: 'Apercu', sans-serif;
    --td: 150ms;
    --te: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 45rem;
    padding: 1rem;
}
.page-container > * + * {
    margin-top: 1.5rem;
}
.nav-main {
    align-items: center;
    display: flex;
    height: 100%;
    top: 0;
    padding-top: 15px;
    justify-content: center;
    left: -100%;
    position: fixed;
    transition: left 0s calc(var(--td) * 2), transform 0s calc(var(--td) * 2);
    width: 100%;
}
.nav-main::before, .nav-main::after {
    content: '';
    background-color: var(--color-primary);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform calc(var(--td) * 2) var(--td) var(--te);
    width: 100%;
    z-index: -100;
}
.nav-main::before {
    top: 0;
}
.nav-main::after {
    bottom: 0;
}
.nav-main .menu__item {
    opacity: 0;
    transform: translateX(-1rem);
    transition: opacity var(--td) var(--te), transform var(--td) var(--te);
}
[id="main-navigation-toggle"] {
    opacity: 0;
    position: fixed;
    top: -100%;
}
[id="main-navigation-toggle"] ~ label {
    cursor: pointer;
    position: initial;
    right: 1rem;
    top: 1rem;
    z-index: 100;
}
[id="main-navigation-toggle"] ~ label span {
    display: block;
    height: 9rem;
    padding: 0.5rem;
    position: relative;
    transition: transform calc(var(--td) * 3) var(--te);
    width: 4rem;
}
[id="main-navigation-toggle"] ~ label span::before, [id="main-navigation-toggle"] ~ label span::after {
    background-color: var(--color-dark);
    bottom: 0;
    content: '';
    height: 4px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transition: transform calc(var(--td) * 3) var(--te);
    top: 0;
    width: calc(100% - 1rem);
}
[id="main-navigation-toggle"] ~ label span::before {
    transform: rotate(0) translateY(-100%);
}
[id="main-navigation-toggle"] ~ label span::after {
    transform: rotate(0) translateY(100%);
}
[id="main-navigation-toggle"]:checked ~ label span {
    transform: rotate(1turn);
}
[id="main-navigation-toggle"]:checked ~ label span::before {
    background-color: #DDC84E;
    transform: rotate(45deg);
}
[id="main-navigation-toggle"]:checked ~ label span::after {
    background-color: #DDC84E;
    transform: rotate(-45deg);
}
[id="main-navigation-toggle"]:checked ~ .nav-main {
    left: 0;
    transition: transform 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::before, [id="main-navigation-toggle"]:checked ~ .nav-main::after {
    transform: translateX(0);
    transition-delay: 0s;
}
[id="main-navigation-toggle"]:checked ~ .nav-main::after {
    transition-delay: calc(var(--td) / 2);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item {
    opacity: 1;
    transform: translateX(0);
    transition: opacity calc(var(--td) * 2) var(--te), transform calc(var(--td) * 2) var(--te);
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(1) {
    transition-delay: calc(var(--td) * 2 * (1 * 0.25));
    z-index: -1;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(2) {
    transition-delay: calc(var(--td) * 2 * (2 * 0.25));
    z-index: -2;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(3) {
    transition-delay: calc(var(--td) * 2 * (3 * 0.25));
    z-index: -3;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(4) {
    transition-delay: calc(var(--td) * 2 * (4 * 0.25));
    z-index: -4;
}
[id="main-navigation-toggle"]:checked ~ .nav-main .menu__item:nth-child(5) {
    transition-delay: calc(var(--td) * 2 * (5 * 0.25));
    z-index: -5;
}
.menu {
    position: relative;
    text-align: center;
    z-index: 1;
}
.menu > .menu__item {
    font-family: var(--font-family-secondary);
    /*font-size: 10vmin;*/
    font-size: 50px;
}
.submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    transform: translateY(-10%);
    top: 100%;
    width: 100%;
    visibility: hidden;
    z-index: 2;
}
.submenu .menu__item {
    font-family: var(--font-family-primary);
    font-size: 3.5vmin;
    width: 100%;
}
.submenu .menu__link {
    color: var(--color-secondary);
    text-shadow: 1px 1px 0 var(--color-primary), 2px 2px 0 var(--color-primary);
}
.submenu .menu__link::before, .submenu .menu__link::after {
    display: none;
}
.menu__item {
    display: block;
    position: relative;
}
.menu__item:hover .menu__link::before, .menu__item:hover .menu__link::after {
    animation: blink 1s var(--td) steps(1, end) forwards infinite;
    transform: translateX(calc(100% - 0.5rem));
    transition-duration: calc(var(--td) * 3);
}
.menu__item:hover .menu__link::after {
    transition-delay: calc(var(--td) / 2);
}
.menu__item:hover .submenu {
    opacity: 1;
    transform: translateY(0);
    transition: transform calc(var(--td) * 2) calc(var(--td) * 3) var(--te), opacity calc(var(--td) * 2) calc(var(--td) * 3) var(--te), visibility 0s calc(var(--td) * 3);
    visibility: visible;
}
.menu__link {
    color: var(--color-light);
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    padding: 0.5rem 1rem 0.125rem;
    position: relative;
    text-decoration: none;
    transition: color var(--td) var(--te), opacity var(--td) var(--te), transform var(--td) var(--te);
    z-index: 1;
}
.menu__link::before, .menu__link::after {
    content: '';
    background-color: var(--color-light);
    height: 50%;
    left: 0;
    position: absolute;
    transform: translateX(-110%);
    transform-origin: 0 50%;
    transition: transform 0s var(--te);
    width: 100%;
    z-index: -1;
}
.menu__link::before {
    top: 0;
}
.menu__link::after {
    bottom: 0;
}
.menu:not(:focus-within):not(:hover) .menu__item .menu__link {
    font-family: 'Kudry', serif;
    opacity: 1;
    transform: translate(0, 0);
}
.menu__item {
    --pull: 30%;
}
.menu__item .menu__link {
    font-family: 'Kudry', serif;
    opacity: 0.25;
    transition-duration: calc(var(--td) * 3);
    transform: translate(0, calc(var(--pull) * -1));
}
.menu__item .submenu .menu__link {
    opacity: 1;
}
.menu__item:hover > .menu__link {
    color: var(--color-secondary);
    opacity: 1;
    transform: translate(0, 0);
}
.menu__item:hover > .menu__link:hover {
    color: var(--color-light);
    transition-delay: 0s;
}
.menu__item:hover ~ .menu__item > .menu__link {
    transition-duration: calc(var(--td) * 3);
    transform: translate(0, var(--pull));
}
@keyframes blink {
    50%, 100% {
        opacity: 0;
    }
}





/* ============= */
/* =========== HEADER =========== */
/* ============= */

.laloba_header_area {
    position: relative;
    min-height: 700px;
    height: auto;
}

.main_header_holder {
    position: relative;
    width: 100%;
    max-height: 100vh !important;
    overflow: hidden;
}

.tint {
    position: relative;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    transition: all .3s linear;
}

.main_header_img {
    display: none;
    width: 100%;
}

.vid_loop {
    width: 100% !important;
    height: auto !important;
}

.h_banner_home {
    display: block;
    position: absolute;
    width: 85%;margin: 0 auto;
    left: 0;
    right: 0;
    top: 185px;
    z-index: 2;
}

.h_banner_home h1 {
    font-family: 'Kudry', serif;
    font-size: 5rem;
    text-align: center;
    color: #ffffff;
}

.h_banner_home p {
    font-family: 'Kudry', serif;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

.main_cta_holder {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

a.watch_vid_cta_button {
    display: inline-grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 65px;
    width: 300px;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.14);
    border: 1px solid #FFFFFF;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
}

a.watch_vid_cta_button:hover {
    background: rgba(250, 250, 250, 0.44);
    border: 1px solid #FFFFFF;
    color: #ffffff;
}





/* ============= */
/* =========== ABOUT (SECTION) =========== */
/* ============= */

.about_jen {
    position: relative;
    min-height: 880px;
    height: auto;
    padding-top: 36px;
    padding-bottom: 60px;
    background-color: #fefefe;
}

.about_jen_outermost {
    position: relative;
    padding-top: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}

.about_jen_imagery_holder {
    position: relative;
    padding-top: 320px;
}

.about_bgd_deco_rectangle {
    position: relative;
    width: 90%;
    height: 400px;
    left: 0;
    background: rgba(44, 66, 81, 0.25);
    z-index: 1;
}

img.about_jen_image {
    position: absolute;
    right: -50px;
    top: 96px;
    display: block;
    width: 100%;
    height: 555px;
    object-fit: contain;
    z-index: 2;
}

.branches_deco {
    position: absolute;
    left: -15px;
    width: 100%;
    height: 450px;
    background: url("../img/branches.png") no-repeat;
    background-size: contain;
    z-index: 3;
}

.about_jen_text_holder {
    position: relative;
    padding-top: 75px;
    padding-left: 4px;
}

h2.section_ttl {
    font-size: 2.7rem;
    color: #2A3335;
    text-transform: uppercase;
}

article.standard_body_text.leftaligned {
    text-align: left;
}

article.standard_body_text {
    padding-top: 28px;
    margin-bottom: 28px;
}

article.standard_body_text p {
    font-size: 1.3rem;
    font-weight: 300;
    color: #666666;
    line-height: 1.6;
    margin-bottom: 18px;
}

.about_button_holder {
    padding-top: 45px;
}

a.more_about_me_button {
    display: inline-grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 4;
    height: 65px;
    width: 300px;
    border-radius: 1px;
    background: #0ABAB5;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
}

a.more_about_me_button:hover {
    background: #088c88;
    color: #ffffff;
}

.about_section_decoration_yellow {
    position: absolute;
    width: 293px;
    height: 30px;
    right: 0;
    top: 0;
    background: #DDC84E;
}

.about_section_decoration_blue {
    position: absolute;
    width: 88px;
    height: 88px;
    right: 0;
    bottom: 0;
    background: #2C4251;
}





/* ============= */
/* =========== WORK WITH ME (SECTION) =========== */
/* ============= */

.work_with_me_area {
    position: relative;
    min-height: 990px;
    height: auto;
    padding-top: 55px;
    padding-bottom: 90px;
    background: rgba(143, 151, 121, 0.06);
}

.section_ttl_holder {
    padding-top: 55px;
}

article.standard_body_text.centered {
    width: 78%;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.workwithme_slider_holder {
    width: 90%;
    margin: 0 auto;
    padding-top: 75px;
}

.wwm_box {
    position: relative;
    width: 90% !important;
    height: 575px;
    padding: 0;
    margin-right: 64px;
    background: #FFFFFF;
}

img.wwm_pic {
    display: inline-block;
    width: 100%;
    height: 240px;
    position: relative;
    top: 0;
    object-fit: cover;
}

.wwm_box_inner {
    padding: 22px;
}

.wwm_box_inner h4 {
    font-size: 2rem;
    font-weight: 700;
    color: #2A3335;
    height: 86px;
    margin-bottom: 16px;
}

.wwm_box_inner p {
    font-size: 1.1rem;
    font-weight: normal;
    color: #666666;
    margin-bottom: 16px;
}

a.wwm_moreinfolink {
    position: absolute;
    bottom: 18px;
    font-size: 1rem;
    letter-spacing: 4px;
    color: #DDC84E;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}

a.wwm_moreinfolink > i {
    font-size: 0.98rem;
    color: #DDC84E;
    margin-left: 4px;
    transition: 0.4s all ease-in-out;
}

a.wwm_moreinfolink:hover {
    color: #a89838;
}

a.wwm_moreinfolink:hover > i {
    color: #a89838;
}

.slick-dots {
    bottom: -55px;
    left: -20px;
}

.slick-dots li button:before {
    content: '-' !important;
    font-size: 74px;
}





/* ============= */
/* =========== BOOK NOW CTA (SECTION) =========== */
/* ============= */

.booknow_cta_area {
    position: relative;
    display: block;
    min-height: 700px;
    height: auto;
    background: url("../img/booknowbgd.png") center center no-repeat;
    background-size: cover;
}

.booknow_cta_holder {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo_xl_ghost {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 555px;
    width: 100%;
    top: 10vh;
    background: url("../img/logo_xl.svg") center center no-repeat;
    background-size: contain;
    opacity: 0.2;
    z-index: 0;
}

.txt_whiten > p {color: #ffffff !important;}
.txt_whiten {color: #ffffff !important;}

.booknow_txt_holder {
    position: relative;
    top: 13vh;
}

article.mini_body_text {
    padding-top: 28px;
    margin-bottom: 28px;
}

article.mini_body_text p {
    font-size: 1.3rem;
    font-weight: 300;
    color: inherit;
    line-height: 1.6;
    margin-bottom: 18px;
}

.booknow_cta_holder {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

a.booknow_cta_button {
    display: inline-grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 3;
    height: 65px;
    width: 300px;
    border-radius: 1px;
    background: rgba(0, 0, 0, 0.14);
    border: 1px solid #FFFFFF;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
}

a.booknow_cta_button:hover {
    background: rgba(250, 250, 250, 0.44);
    border: 1px solid #FFFFFF;
    color: #ffffff;
}





/* ============= */
/* =========== MEMBERSHIP (SECTION) =========== */
/* ============= */

.membership_area {
    position: relative;
    padding-top: 55px;
    padding-bottom: 42px;
    min-height: 300px;
    height: auto;
    background: rgba(223, 215, 200, 0.08);
}

.membership_area_outermost {
    display: flex;
    justify-content: center;
}

.member_logo_holder {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

img.member_logo {
    position: relative;
    display: flex;
    width: 100%;
    height: 185px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

img.member_logo.size_reduction {
    height: 80px;
}

.deco_turq_low_left {
    position: absolute;
    z-index: 2;
    width: 293px;
    height: 24px;
    left: 0;
    bottom: -12px;
    background: #0ABAB5;
}




/* ============= */
/* =========== FOOTER =========== */
/* ============= */

footer.laloba_footer {
    position: relative;
    display: block;
    min-height: 440px;
    height: auto;
    padding-top: 65px;
    padding-bottom: 55px;
    background: #1f1f1f;
}

.footer_content_outermost {
    padding-top: 36px;
}

img.footerlogo {
    position: relative;
    display: block;
    height: 195px;
    width: 100%;
    object-fit: contain;
}

ul.footer_linx {
    position: relative;
    margin-top: 32px;
    padding-left: 0;
}

ul.footer_linx li {
    list-style-type: none;
    margin-bottom: 24px;
}

ul.footer_linx li a {
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.4s ease;
}

ul.footer_linx li a:hover {
    color: #ffffff;
    background-color: rgba(221, 200, 78, 0.25);
}

.bottommost_area {
    position: absolute;
    bottom: 28px;
}

small.postnote {
    font-size: 0.89rem;
    color: #E0E0E0;
    font-weight: 300;
    text-align: left;
}

.networking_holder {
    margin-right: 52px;
}

.moveable_links_set {
    left: -38px;
}

ul.footer_networking {
    position: relative;
    padding: 0;
}

ul.footer_networking li {
    list-style-type: none;
    float: left;
    margin-right: 48px;
}

ul.footer_networking li:last-child {
    margin-right: 0;
}

ul.footer_networking li a {
    font-size: 0.8rem;
    color: rgba(221, 200, 78, 0.73);
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease-in;
}

ul.footer_networking li a:hover {
    color: #DDC84E;
    text-shadow: 0 0 1px #DDC84E;
}

.footer_deco_turq {
    position: absolute;
    top: -20px;
    left: 0;
    width: 189px;
    height: 40px;
    background: #0ABAB5;
}

.modal-backdrop {
    background-color: #DDC84E !important;
    opacity: 0.8 !important;
}

.modal-header, .modal-body {background-color: #000000;}

.modal-header {border-bottom: none;}

.modal-header .btn-close {
    color: #ffffff;
}

.btn-close {font-size: 2rem !important;}





/* ••• */
/* •••••••••••••••• */
/* ••• */

/* ============= */
/* =========== ABOUT (INNER PAGE) =========== */
/* ============= */

.laloba_inner_header_area {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 330px;
    height: auto;
    text-align: center;
}

.laloba_inner_header_area:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.33);
}

h2.inner_header_title {
    position: relative;
    z-index: 2;
    font-family: 'Kudry', serif;
    font-size: 5.4rem;
    text-align: center;
    color: #ffffff;
}


/* •••••••• My Story (Section) •••••••• */

.mystory_area {
    position: relative;
    min-height: 696px;
    height: auto;
    background-color: #fefefe;
    padding-top: 65px;
    padding-bottom: 55px;
}

.mystory_area_outermost {
    position: relative;
    padding-top: 90px;
}

.mystory_small_deco {
    position: absolute;
    z-index: 0;
    width: 58px;
    height: 52px;
    bottom: -20px;
    left: 100px;
    background: #DDC84E;
}

.mystory_rectangle_xl_deco {
    position: absolute;
    height: 330px;
    width: 70%;
    right: 50px;
    top: 50px;
    z-index: 0;
    background: rgba(124, 110, 95, 0.05);
}

img.mystory_image {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 400px;
    object-fit: cover;
}


/* •••••••• Transformation (Section) •••••••• */

.transformation_area {
    position: relative;
    display: block;
    min-height: 720px;
    height: auto;
    background-color: #2C4251;
}

.transformation_txt_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;
}

.transformation_image_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}

img.transformation_image {
    display: block;
    position: relative;
    height: 720px;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

h3.transformation_ttl {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding-left: 28px;
    padding-right: 28px;
    z-index: 2;
    font-family: 'Kudry', serif;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;

}


/* •••••••• Legend of La Loba (Section) •••••••• */

.legend_area {
    position: relative;
    display: block;
    min-height: 888px;
    height: auto;
    padding-top: 65px;
    padding-bottom: 55px;
    background: #fefefe;
}

.legend_image_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
}

img.legend {
    position: relative;
    width: 100%;
    height: 560px;
    object-fit: contain;
}

.legend_txt_holder {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-left: 32px;
}


small.legend_postnote {
    font-size: 1.4rem;
    font-weight: 400;
    color: #666666;
    text-align: left;
}

span.postnote_dash {
    color: #DDC84E;
}

span.legend_book_ttl {
    font-weight: 600 !important;
    font-style: italic !important;
}


/* •••••••• Quote (Section) •••••••• */

.quote_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #F6F8FF;
}

.quote_holder {
    display: inline-block;
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.quote_holder h3 {
    font-family: 'Kudry', serif;
    font-size: 4rem;
    color: #2A3335;
    text-align: left;
    padding: 0;
    margin-bottom: 12px;
}

small.quote_author {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #2C4251;
    text-align: left;
}

.abstract_flower_deco.one {
    position: absolute;
    z-index: 0;
    opacity: 0.8;
    width: 18vw;
    height: 600px;
    top: -140px;
    right: 0;
    background: url("../img/abstract_flower.svg") no-repeat;
    background-size: contain;
}

.quote_deco.one {
    position: absolute;
    width: 170px;
    height: 35px;
    left: 0;
    top: -17px;
    background: #DDC84E;
}


/* •••••••• Journey of Transformation (Section) •••••••• */

.journey_area {
    position: relative;
    display: block;
    min-height: 820px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    background: #f9f9f9;
}

.journey_txt_holder {
    display: block;
    width: 83%;
    margin: 0 auto;
    padding-top: 75px;
}

.journey_video_button_holder {
    padding-top: 32px;
}

a.journey_vid_cta_button {
    display: inline-grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 2;
    height: 65px;
    width: 300px;
    border-radius: 1px;
    background: #0ABAB5;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
}

a.journey_vid_cta_button:hover {
    background: #088c88;;
    color: #ffffff;
}

img.wolves_deco {
    position: absolute;
    z-index: 0;
    bottom: 20px;
    left: -40px;
    width: 700px;
    height: 700px;
    mix-blend-mode: multiply;
    object-fit: contain;
}


/* •••••••• Another Way (Section) •••••••• */

.another_way_area {
    position: relative;
    display: block;
    min-height: 785px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

article.anotherway_body_text {
    position: relative;
    z-index: 1;
    padding-top: 28px;
    margin-bottom: 28px;
    padding-right: 23px;
    max-height: 465px;
    overflow-y: auto;
}

article.anotherway_body_text p {
    font-size: 1.3rem;
    font-weight: 300;
    color: inherit;
    line-height: 1.6;
    margin-bottom: 18px;
}

.blurrer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
    background: url("../img/blurrer.png") center center no-repeat;
    background-size: contain;
}

article.anotherway_body_text::-webkit-scrollbar {
    width: 2px;
}

article.anotherway_body_text::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #DDC84E);
    border-radius: 9px;
}

article.anotherway_body_text::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #0ABAB5);
}


/* •••••••• Training (Section) •••••••• */

.training_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 800px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background: #fefefe;
}

.training_txt_holder {
    padding-left: 50px;
}

ul.training_list {
    position: relative;
    padding-left: 0;
}

ul.training_list li {
    font-weight: 600;
    font-size: 1.2rem;
    color: #666666;
    list-style-type: none;
    margin-bottom: 24px;
    text-indent: -22px;
    margin-left: 22px;
}

ul.training_list li::before {
    position: relative;
    top: -1px;
    font-family: "Font Awesome 6 Free";
    content: '\f058';
    font-weight: 800;
    font-size: 1rem;
    color: #0ABAB5;
    margin-right: 8px;
}

.training_image_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0;
}

img.training_image {
    position: relative;
    width: 100%;
    height: 520px;
    object-fit: contain;
}


/* •••••••• La Loba (Section) •••••••• */

.laloba_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 800px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 90px;
    background: #f9f9f9;
}

.laloba_huge_logo_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0;
}

img.laloba_logo_xxxl {
    position: relative;
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.laloba_txt_holder {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    position: relative;
}

.abstract_flower_deco.two {
    position: absolute;
    z-index: 0;
    opacity: 0.9;
    width: 20vw;
    height: 720px;
    top: -220px;
    left: 0;
    background: url("../img/abstract_flower_2.svg") no-repeat;
    background-size: contain;
}

.deco_turq_low_right {
    position: absolute;
    z-index: 2;
    width: 293px;
    height: 24px;
    right: 0;
    bottom: -12px;
    background: #0ABAB5;
}





/* ••• */
/* •••••••••••••••• */
/* ••• */

/* ============= */
/* =========== SERVICES (INNER PAGE) =========== */
/* ============= */

.all_services_area {
    position: relative;
    display: block;
    min-height: 960px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 55px;
    background: rgba(143, 151, 121, 0.01);
}

.all_services_txt_holder {
    position: relative;
    display: block;
    width: 78%;
    margin: 0 auto;
    padding-top: 2px;
    margin-bottom: 42px;
}

.servicebox_outermost {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.service_box {
    position: relative;
    width: 90% !important;
    height: 575px;
    padding: 0;
    /*margin-right: 64px;*/
    background: #FFFFFF;
    box-shadow: 0 4px 210px rgba(0, 0, 0, 0.12);
}

img.service_box_pic {
    display: inline-block;
    width: 100%;
    height: 240px;
    position: relative;
    top: 0;
    object-fit: cover;
}

.service_box_inner {
    padding: 22px;
}

.service_box_inner h4 {
    font-size: 2rem;
    font-weight: 700;
    color: #2A3335;
    height: 86px;
    margin-bottom: 16px;
}

.service_box_inner p {
    font-size: 1.1rem;
    font-weight: normal;
    color: #666666;
    margin-bottom: 16px;
}

a.service_box_moreinfolink {
    position: absolute;
    bottom: 18px;
    font-size: 1rem;
    letter-spacing: 4px;
    color: #DDC84E;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
}

a.service_box_moreinfolink > i {
    font-size: 0.98rem;
    color: #DDC84E;
    margin-left: 4px;
    transition: 0.4s all ease-in-out;
}

a.service_box_moreinfolink:hover {
    color: #a89838;
}

a.service_box_moreinfolink:hover > i {
    color: #a89838;
}

.quick_contactbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90% !important;
    height: 575px;
    padding: 0;
    background: url("../img/yellow_contact_ctabox.png") center center no-repeat;
    background-size: cover;
    box-shadow: 0 4px 210px rgba(0, 0, 0, 0.12);
}

.quick_contactbox_content_holder h4 {
    font-family: 'Kudry', serif;
    font-size: 2.2rem;
    margin-bottom: 22px;
}


a.quick_contactbox_button {
    display: inline-grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 65px;
    width: 300px;
    border-radius: 1px;
    background: rgba(42, 51, 53, 0.1);
    border: 1px solid #2A3335;
    font-style: normal;
    color: #2A3335;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
}

a.quick_contactbox_button:hover {
    background: rgba(42, 51, 53, 0.9);
    border: 1px solid #2A3335;
    color: #DDC84E;
}





/* ••• */
/* •••••••••••••••• */
/* ••• */

/* ============= */
/* =========== CONTACT (INNER PAGE) =========== */
/* ============= */

.contactform_main_area {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 960px;
    height: auto;
    padding-top: 150px;
    padding-bottom: 155px;
    background: rgba(143, 151, 121, 0.02);
}

form.laloba_contact_form {
    position: relative;
    z-index: 1;
    display: block;
    width: 70%;
    min-height: 600px;
    height: auto;
    margin: 0 auto;
    border-radius: 1px;
    padding: 25px 50px 50px 50px;
    background: #FFFFFF;
    box-shadow: 9px 4px 250px rgba(0, 0, 0, 0.1);
}

input.laloba_input {
    height: 55px;
    padding-left: 18px;
    border-radius: 1px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #999999;
    background: #F5F5F5;
    border: none;
}

input.laloba_input:focus {
    border: none;
    background: #F5F5F5;
    box-shadow: none !important;
}

.laloba_txtarea {
    height: 250px;
    padding-left: 18px;
    padding-top: 18px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #999999;
    background: #F5F5F5;
    border: none;
    border-radius: 1px;
    resize: none;
}

.laloba_txtarea:focus {
    border: none;
    background: #F5F5F5;
    box-shadow: none !important;
}

.contact_submit_btn_holder {
    padding-top: 32px;
}

button.laloba_send_btn {
    display: inline-grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    z-index: 2;
    height: 65px;
    width: 300px;
    border-radius: 1px;
    background: #0ABAB5;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    transition: all 0.4s ease-in;
}

button.laloba_send_btn:hover {
    background: #088c88;;
    color: #ffffff;
}

.contactform_deco_xl {
    position: absolute;
    z-index: 0;
    width: 50vw;
    height: 490px;
    left: 140px;
    top: 90px;
    background: #2C4251;
}

.deco_yellow_low_left {
    position: absolute;
    z-index: 2;
    width: 293px;
    height: 24px;
    left: 0;
    bottom: -12px;
    background: #DDC84E;
}

