/* 𝙼𝚎𝚍𝚒𝚊 𝚀𝚞𝚎𝚛𝚒𝚎𝚜 */

/* ====== */
/* General + Nav */
/* ====== */
@media screen and (min-width: 2200px){
    .h_banner_home {top: 35%;}
}
@media screen and (min-width: 2800px){
    .h_banner_home {width: 45%;}
}
@media screen and (min-width: 3500px){
    .h_banner_home {top: 40%;}
    .h_banner_home {width: 40%;}
}
@media screen and (min-width: 4000px){
    .h_banner_home {width: 35%;}
}

@media screen and (max-width: 991px){
    .h_banner_home h1 {font-size: 3.6rem;}
}

@media screen and (max-width: 460px){
    .h_banner_home {width: 96%;}
    .h_banner_home h1 {font-size: 3rem;}
}

@media screen and (max-width: 385px){
    .h_banner_home {top: 130px;}
}



/* ====== */
/* Jennifer (section) */
/* ====== */
@media screen and (max-width: 1199px){
    img.about_jen_image {right: 0;}
    .about_bgd_deco_rectangle {width: 65%; left: -35px;}
}

@media screen and (max-width: 991px){
    .about_jen_text_holder {padding-left: 32px;}
}

@media screen and (max-width: 575px){
    .about_jen_text_holder {padding-left: 4px;}
    .branches_deco {height: 320px; left: 20px; top: 60%;}
    .about_jen {padding-left: 16px; padding-right: 16px;}
}




/* ====== */
/* Work With Me (section) */
/* ====== */
@media screen and (max-width: 767px){
    .wwm_box {width: 100% !important;}
    .slick-dots {left: 0;}
}



/* ====== */
/* Membership (section) */
/* ====== */
.member_logo_holder {margin-bottom: 42px;}




/* ====== */
/* Footer */
/* ====== */
@media screen and (max-width: 767px){
    .footer_linx_holder {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 2px;
    }

    .bottommost_area {
        bottom: 12px;
    }

    .moveable_links_set {left: 0;}

    ul.footer_linx {margin-top: 0;}

    .footer_logo_holder {margin-bottom: 36px;}

    .postnote_holder {text-align: center;}

    small.postnote {position: relative; top: -12px;}

    .networking_holder {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    ul.footer_networking {display: contents;}
}



/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ ABOUT (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* Header (section) */
/* ====== */
@media screen and (max-width: 767px){
    h2.inner_header_title {font-size: 4rem;}
}

@media screen and (max-width: 440px){
    h2.inner_header_title {font-size: 3.3rem;}
}




/* ====== */
/* My Story (section) */
/* ====== */
@media screen and (max-width: 1199px){
    .mystory_rectangle_xl_deco {right: -40px;}
}

@media screen and (max-width: 991px){
    img.mystory_image {width: 100%;}
    .mystory_rectangle_xl_deco {right: 10px; width: 100%; height: 380px;}
}

@media screen and (max-width: 767px){
    .mystory_rectangle_xl_deco {right: -20px;}
}

@media screen and (max-width: 575px){
    .mystory_area {padding-left: 16px; padding-right: 16px;}
}



/* ====== */
/* Transformation (section) */
/* ====== */
@media screen and (max-width: 1010px){
    img.transformation_image {height: 100%;}
}

@media screen and (max-width: 450px){
    .transformation_txt_holder {padding-left: 28px; padding-right: 28px;}
    h3.transformation_ttl {font-size: 2rem;}
}




/* ====== */
/* Legend (section) */
/* ====== */
@media screen and (max-width: 991px){
    img.legend {height: 100%;}
    .legend_txt_holder {padding-left: 16px;}
}

@media screen and (max-width: 767px){
    .legend_area {padding-top: 16px;}
}

@media screen and (max-width: 575px){
    .legend_area {padding-left: 16px; padding-right: 16px;}
    .abstract_flower_deco.one {width: 13rem;}
    .quote_holder {width: 96%;}
    .quote_holder h3 {font-size: 2.3rem;}
    small.quote_author {font-size: 1.3rem;}
}




/* ====== */
/* Journey (section) */
/* ====== */
@media screen and (max-width: 991px){
    .journey_txt_holder {width: 99%;}
}

@media screen and (max-width: 399px){
    h2.section_ttl {font-size: 8vw;}
}




/* ====== */
/* Another Way (section) */
/* ====== */
@media screen and (max-width: 575px){
    .another_way_area {padding-left: 16px; padding-right: 16px;}
}




/* ====== */
/* Training (section) */
/* ====== */
@media screen and (max-width: 991px){
    .training_txt_holder {padding-left: 0;}
}

@media screen and (max-width: 767px){
    img.training_image {height: 100%;}
}

@media screen and (max-width: 575px){
    .training_area {padding-left: 16px; padding-right: 16px;}
}




/* ====== */
/* La Loba (section) */
/* ====== */
@media screen and (max-width: 767px){
    img.laloba_logo_xxxl {width: 60%;}
}

@media screen and (max-width: 575px){
    .laloba_area {padding-left: 16px; padding-right: 16px;}
}

@media screen and (max-width: 475px){
    .abstract_flower_deco.two {width: 13rem;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ ARCHETYPAL (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* The Way Down Is The Way Up (section) */
/* ====== */
@media screen and (max-width: 575px){
    .the_way_up_is_the_way_down_area {padding-left: 16px; padding-right: 16px; padding-bottom: 22px;}
}



/* ====== */
/* Service FAQ (section) */
/* ====== */
@media screen and (max-width: 575px){
    .accordion-button {font-size: 2rem !important;}
}

@media screen and (max-width: 420px){
    .accordion-button {font-size: 1.5rem !important;}
    p.faq_bodytext {font-size: 1.2rem;}
}






