/* 𝙼𝚎𝚍𝚒𝚊 𝚀𝚞𝚎𝚛𝚒𝚎𝚜 */

/* ====== */
/* General + Nav */
/* ====== */
@media screen and (min-width: 2200px){
    .h_banner_home {top: 35%;}
}
@media screen and (min-width: 2800px){
    .h_banner_home {width: 45%;}
}
@media screen and (min-width: 3500px){
    .h_banner_home {top: 40%;}
    .h_banner_home {width: 40%;}
}
@media screen and (min-width: 4000px){
    .h_banner_home {width: 35%;}
}

@media screen and (max-width: 991px){
    .h_banner_home h1 {font-size: 3.6rem;}
}

@media screen and (max-width: 460px){
    .h_banner_home {width: 96%;}
    .h_banner_home h1 {font-size: 3rem;}
}

@media screen and (max-width: 385px){
    .h_banner_home {top: 130px;}
}



/* ====== */
/* Jennifer (section) */
/* ====== */
@media screen and (max-width: 1199px){
    img.about_jen_image {right: 0;}
    .about_bgd_deco_rectangle {width: 65%; left: -35px;}
}

@media screen and (max-width: 991px){
    .about_jen_text_holder {padding-left: 32px;}
}

@media screen and (max-width: 575px){
    .about_jen_text_holder {padding-left: 4px;}
    .branches_deco {height: 320px; left: 20px; top: 60%;}
    .about_jen {padding-left: 16px; padding-right: 16px;}
}




/* ====== */
/* Work With Me (section) */
/* ====== */
@media screen and (max-width: 767px){
    .wwm_box {width: 100% !important;}
    .slick-dots {left: 0;}
}



/* ====== */
/* Membership (section) */
/* ====== */
.member_logo_holder {margin-bottom: 42px;}




/* ====== */
/* Footer */
/* ====== */
@media screen and (max-width: 767px){
    .footer_linx_holder {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 2px;
    }

    .bottommost_area {
        bottom: 12px;
    }

    .moveable_links_set {left: 0;}

    ul.footer_linx {margin-top: 0;}

    .footer_logo_holder {margin-bottom: 36px;}

    .postnote_holder {text-align: center;}

    small.postnote {position: relative; top: -12px;}

    .networking_holder {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    ul.footer_networking {display: contents;}
}



/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ ABOUT (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* Header (section) */
/* ====== */
@media screen and (max-width: 767px){
    h2.inner_header_title {font-size: 4rem;}
}

@media screen and (max-width: 440px){
    h2.inner_header_title {font-size: 3.3rem;}
}




/* ====== */
/* My Story (section) */
/* ====== */
@media screen and (max-width: 1199px){
    .mystory_rectangle_xl_deco {right: -40px;}
}

@media screen and (max-width: 991px){
    img.mystory_image {width: 100%;}
    .mystory_rectangle_xl_deco {right: 10px; width: 100%; height: 380px;}
}

@media screen and (max-width: 767px){
    .mystory_rectangle_xl_deco {right: -20px;}
}

@media screen and (max-width: 575px){
    .mystory_area {padding-left: 16px; padding-right: 16px;}
}



/* ====== */
/* Transformation (section) */
/* ====== */
@media screen and (max-width: 1010px){
    img.transformation_image {height: 100%;}
}

@media screen and (max-width: 450px){
    .transformation_txt_holder {padding-left: 28px; padding-right: 28px;}
    h3.transformation_ttl {font-size: 2rem;}
}




/* ====== */
/* Legend (section) */
/* ====== */
@media screen and (max-width: 991px){
    img.legend {height: 100%;}
    .legend_txt_holder {padding-left: 16px;}
}

@media screen and (max-width: 767px){
    .legend_area {padding-top: 16px;}
}

@media screen and (max-width: 575px){
    .legend_area {padding-left: 16px; padding-right: 16px;}
    .abstract_flower_deco.one {width: 13rem;}
    .quote_holder {width: 96%;}
    .quote_holder h3 {font-size: 2.3rem;}
    small.quote_author {font-size: 1.3rem;}
}




/* ====== */
/* Journey (section) */
/* ====== */
@media screen and (max-width: 991px){
    .journey_txt_holder {width: 99%;}
}

@media screen and (max-width: 399px){
    h2.section_ttl {font-size: 8vw;}
}




/* ====== */
/* Another Way (section) */
/* ====== */
@media screen and (max-width: 575px){
    .another_way_area {padding-left: 16px; padding-right: 16px;}
}




/* ====== */
/* Training (section) */
/* ====== */
@media screen and (max-width: 991px){
    .training_txt_holder {padding-left: 0;}
}

@media screen and (max-width: 767px){
    img.training_image {height: 100%;}
}

@media screen and (max-width: 575px){
    .training_area {padding-left: 16px; padding-right: 16px;}
}




/* ====== */
/* La Loba (section) */
/* ====== */
@media screen and (max-width: 767px){
    img.laloba_logo_xxxl {width: 60%;}
}

@media screen and (max-width: 575px){
    .laloba_area {padding-left: 16px; padding-right: 16px;}
}

@media screen and (max-width: 475px){
    .abstract_flower_deco.two {width: 13rem;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ ARCHETYPAL (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* The Way Down Is The Way Up (section) */
/* ====== */
@media screen and (max-width: 767px){
    .the_way_up_is_the_way_down_area {padding-bottom: 24px;}
}

@media screen and (max-width: 575px){
    .the_way_up_is_the_way_down_area {padding-left: 16px; padding-right: 16px; padding-bottom: 18px;}
}



/* ====== */
/* Service FAQ (section) */
/* ====== */
@media screen and (max-width: 767px){
    .service_faq_area {padding-top: 24px;}
}

@media screen and (max-width: 575px){
    .accordion-button {font-size: 2rem !important;}
}

@media screen and (max-width: 420px){
    .accordion-button {font-size: 1.5rem !important;}
    p.faq_bodytext {font-size: 1.2rem;}

    ul.service_features_list li {font-size: 1.1rem;}

    .standard_service_image_deco.one {height: 300px;}
    .standard_service_image_deco.two {height: 300px;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ CONTACT (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* Form (section) */
/* ====== */
@media screen and (max-width: 991px){
    form.laloba_contact_form {width: 94%;}
    .contactform_deco_xl {width: 60vw; left: 115px;}
}

@media screen and (max-width: 575px){
    form.laloba_contact_form {padding-left: 22px; padding-right: 22px;}
    .contactform_deco_xl {width: 57vw; left: -100px;}
}

@media screen and (max-width: 384px){
    button.laloba_send_btn {width: 190px;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ REIKI (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* Blue My Story (section) */
/* ====== */
@media screen and (max-width: 991px){
    .mystory_small_deco_2 {left: 130px;}
    .mystory_rectangle_xl_deco_blue_2 {height: 420px;}

    .service_faq_area_reiki {padding-bottom: 80px;}
}

@media screen and (max-width: 767px){
    .mystory_area.blue {padding-bottom: 90px;}
    .mystory_small_deco_2 {left: -10px;}
    .mystory_rectangle_xl_deco_blue_2 {width: 100vw; left: -6px;}

}

@media screen and (max-width: 440px){
    p.faq_bodytext {font-size: 1.2rem !important;}
    p.faq_bodytext {font-size: 1.2rem;}
    ul.service_list li::before {font-size: 1rem;}
    h4.cta_servicebox_ttl {font-size: 1.7rem;}
}

@media screen and (max-width: 390px){
    .mystory_rectangle_xl_deco_blue_2 {height: 500px;}
    h4.special_offer_ttl {font-size: 3.1rem;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ RESOURCES (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* Three Books (section) */
/* ====== */
@media screen and (max-width: 991px){
    .book_cover_holder {margin-bottom: 75px;}
}

@media screen and (max-width: 767px){
    .three_books_area {padding-bottom: 22px;}
}


/* ====== */
/* Tabular Selectors (section) */
/* ====== */
@media screen and (max-width: 991px){
    .resource_selector {margin-bottom: 32px;}
    .nav-link.resource_tab_link {width: 100%;}
    .resource_data_holder {border-left: none; padding-left: 4px;}
}

@media screen and (max-width: 575px){
    .all_resources_area {padding-left: 16px; padding-right: 16px;}
    .resource_data_holder {padding-left: 12px;}
    h2.intro_ttl {font-size: 3.1rem;}
}

@media screen and (max-width: 385px){
    h2.intro_ttl {font-size: 2.7rem;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ RITUALS (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* Rituals (section) */
/* ====== */
@media screen and (max-width: 767px){
    .the_way_up_is_the_way_down_area_rituals {padding-bottom: 24px;}
    .service_faq_area_rituals {padding-top: 22px;}
}

@media screen and (max-width: 575px){
    .the_way_up_is_the_way_down_area_rituals {padding-left: 16px; padding-right: 16px;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ ALL SERVICES (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* All Services (section) */
/* ====== */
@media screen and (max-width: 767px){
    .all_services_txt_holder {width: 99%;}
}

@media screen and (max-width: 414px){
    a.quick_contactbox_button {width: 240px;}
}




/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* ------ Spiritual Direction (INNER PAGE) ------ */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/* ====== */
/* Main (section) */
/* ====== */
@media screen and (max-width: 575px){
    .standard_service_image {height: 100%;}
}

@media screen and (max-width: 360px){
    .service_box {min-height: 440px;}
}



/* ••• */
/* •••••••• Additional Pages 2024 •••••••• */
/* ••• */

/* ============= */
/* =========== MEDIA =========== */
/* ============= */

@media screen and (max-width: 991px){
    .latest_video_holder {width: 95%;}
    .blogbox.latest {width: 95%;}
    .laloba_video.latest_vid {height: 400px;}

}

@media screen and (max-width: 575px){
    .latest_media_area {min-height: 455px;}
    .latest_video_holder {width: 95%;}
    .laloba_video.latest_vid {height: 300px;}
    .latest_vid_decoration_square {display: none;}
    .all_media_area {padding-left: 16px; padding-right: 16px;}
    .blog_details_area {padding-left: 16px; padding-right: 16px; padding-top: 24px;}
    .laloba_video.regular_vid {height: 280px;}
    .blog_post_notes {display: block;}
    button.goto_all_blogs_btn {float: none !important; width: 100%;}
}





/* ••• */
/* ••••••••
█▀█ █▀▀█ █▀█ █▀▀ 　 ▒█░▒█ ▒█▀▀█ ▒█▀▀▄ ░█▀▀█ ▀▀█▀▀ ▒█▀▀▀ ▒█▀▀▀█
░▄▀ █▄▀█ ░▄▀ ▀▀▄ 　 ▒█░▒█ ▒█▄▄█ ▒█░▒█ ▒█▄▄█ ░▒█░░ ▒█▀▀▀ ░▀▀▀▄▄
█▄▄ █▄▄█ █▄▄ ▄▄▀ 　 ░▀▄▄▀ ▒█░░░ ▒█▄▄▀ ▒█░▒█ ░▒█░░ ▒█▄▄▄ ▒█▄▄▄█
•••••••• */
/* ••• */

/* ============= */
/* =========== IN THE SACRED CIRCLE =========== */
/* ============= */

@media screen and (max-width: 1399px){
    img.rental_info_image {left: 0;}
    .standard_service_image_deco.four {left: 0;}

    h4.spaceshare_ttl {font-size: 3.3rem;}
}

@media screen and (max-width: 1199px){
    h5.newsletter_aux_txt {padding-right: 24px;}

    h4.spaceshare_ttl {font-size: 2.8rem;}
}

@media screen and (max-width: 991px){
    .sacred_circle_image {left: 0;}
    .monthly_rituals_stack {padding-top: 64px;}
    .ritual_event_card {margin-bottom: 185px;}
    .ritual_event_content {padding-left: 0; padding-top: 18px;}
    .ritual_event_image {width: 100%;}
    h6.option_text {font-size: 1.1rem;}
    h3.event_title {font-size: 1.8rem;}
    span.option_icon {width: 17px; height: 17px;}

    .newsletter_subsection {display: block; width: 95%;}
    h1.newsletter_title {text-align: center;}
    h5.newsletter_aux_txt {text-align: center; margin-bottom: 42px;}
    .newsletter_button {display: flex; justify-content: center;}

    .rental_planbox_holder {margin-bottom: 55px;}

    img.rental_info_image {margin-bottom: 42px; top: 0;}
    .rental_info_text {padding-top: 0;}
    .standard_service_image_deco.four {height: 22rem;}

    .space_share_area {padding-bottom: 120px;}
}

@media screen and (max-width: 767px){
    .event_options {display: block;}
    .option {margin-right: 0; margin-bottom: 8px;}
}

@media screen and (max-width: 575px){
    .sacred_circle_area {padding-left: 22px; padding-right: 22px; padding-bottom: 12px;}
    .artificial_gap_3 {margin-bottom: 2px;}
    .ritual_event_card {padding-left: 26px; padding-right: 26px;}
    .perinatal_programs_outermost {padding-left: 22px; padding-right: 22px;}

    .rental_info_outermost {padding-left: 22px; padding-right: 22px;}
    img.rental_info_image {margin-bottom: 0;}

    h4.rental_planbox_ttl {font-size: 1.4rem;}
}

@media screen and (max-width: 460px){
    img.rental_info_image {height: 412px;}
    .rental_info_area {padding-top: 50px; padding-bottom: 30px;}
}

@media screen and (max-width: 400px){
    img.rental_info_image {height: 360px;}
}

@media screen and (max-width: 385px){
    h1.newsletter_title {font-size: 2.3rem;}
    h5.newsletter_aux_txt {font-size: 1.2rem;}
}

@media screen and (max-width: 360px){
    a.event_booking_btn {width: 250px;}
    a.event_booking_btn_white {width: 250px;}

    img.rental_info_image {height: 320px;}
    .standard_service_image_deco.four {left: -220px;}
    h5.rental_subtitle {font-size: 1.6rem;}
}
